<div class="page-header">
  <h1>Favorites</h1>
</div>

<p><a href="/favorites/new" class="btn btn-primary">Add a New Favorite</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Activity</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.activity_id %></td>
        <td><%= favorite.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

